.navbar {
    &-container {
        height: 100%;
    }

    &-logo {
        width: 180px;
    }

    &-icon {
        height: 64px;
    }

    &-h{
        align-items: center;
        background: black;

        &-link {
            color: white;
            font-family: $regular-font;
            font-size: 24px;
        }
    }

    &-v {
        height: 100%;
        width: 120px;
        background-color: black;

        &-navigation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}