.navbar {
    &-container {
        height: 100%;
    }

    &-logo {
        width: 180px;
    }

    &-icon {
        height: 64px;
    }

    &-h{
        display: flex;
        align-items: center;
        background: black;

        &-link {
            color: white;
            margin-left: 50px;
        }
    }

    &-v {
        height: 100%;
        background-color: black;

        &-navigation {
            display: flex;
            flex-direction: column;
        }
    }
}