.error {
    &-logo{
        width: 300px;
        align-self: center;
        margin-top: 100px;
    }
    &-title {
        font-size: 20rem;
        font-weight: 700;
        color: $secondary-color;
        align-self: center;
    }
    &-message {
        font-size: 2rem;
        align-self: center; 
    }
    &-link {
        font-size: 1.5rem;
        font-weight: 500;
        color: $primary-color;
        text-decoration: underline;
        align-self: center;
    }
}